<!DOCTYPE html>
<html class="outputHtml">
  <head>
    <meta charset="utf-8">
    <title>{{projectName}} - {{creationdate}}</title>
    <link rel="shortcut icon" type="image/png" href="data:image/png;base64,{{{logo}}}"/>
    <style type="text/css">
      {{{cssStyles}}}
    </style>
  </head>
  <body>
    <div class="sidenav">
      <div id="sidenav-header">
        <div id="sidenavTitle"><h1>{{reportName}}</h1></div>
        <div id="sidenav-subheader">
          <div id="headerTitle">{{projectName}}</div>
          <div id="authorAside">{{author}} - {{creationdate}}</div>
        </div>
      </div>
      <div class="sidenav-body">
        <ul class="active">
          {{{sidenavButtonsHtml}}}
        </ul>
      </div>
      <div id="sidenavFooter">
        <div id="settingsDrawer">
          <input type="checkbox" id="tagsCheckbox"><label for="tagsCheckbox">Show Tags</label>
          <p>Icons courtesy of <a href="https://fontawesome.com/license/free" target="_blank" rel="noopener"><i class="fab fa-font-awesome" title="FontAwesome"></i></a>
          licensed under <a href="https://creativecommons.org/licenses/by/4.0/legalcode" target="_blank" rel="noopener"><i class="fab fa-creative-commons" title="Creative Commons"></i><i class="fab fa-creative-commons-by" title="CC BY"></i></a>.</p>
        </div>
        <img id="settingsButton" src="data:image/png;base64, {{{cog}}}" alt="Settings Cog" />
        <a id="footerTitle" href="https://github.com/cerner/cucumber-forge-desktop" target="_blank" rel="noopener" class="sidenav-header">Cucumber Forge</a>
      </div>
    </div>
    <div class="main">
      {{{featuresHtml}}}
    </div>
  </body>
  <script>
    {{{scripts}}}
  </script>
</html>
