<!DOCTYPE html>
<html class="outputHtml">
  <head>
    <meta charset="utf-8">
    <title>{{projectName}} - {{creationdate}}</title>
    <link rel="shortcut icon" type="image/png" href="data:image/png;base64,{{{logo}}}"/>
    <style type="text/css">
      {{{cssStyles}}}
    </style>
  </head>
  <body>
    <div class="sidenav">
      <div id="sidenav-header">
        <div id="sidenavTitle"><h1>{{reportName}}</h1></div>
        <div id="sidenav-subheader">
          <div id="headerTitle">{{projectName}}</div>
          <div id="authorAside">{{author}} - {{creationdate}}</div>
        </div>
      </div>
      <div class="sidenav-body">
        {{#each featureButtons}}
          <button id="{{this.id}}" scroll-to-id="{{this.featureId}}" feature-wrapper-id="{{this.featureWrapperId}}" class="feature-button" title="{{this.title}}">
            <i class="fas fa-angle-right"></i> {{this.title}}
          </button>
          <div class="panel">
            {{#each this.scenarioButtons}}
              <button id="{{this.id}}" scroll-to-id="{{this.scenarioId}}" class="scenario-button" title="{{this.title}}">
                <span>- {{this.title}}</span>
              </button>
            {{/each}}
          </div>
        {{/each}}
      </div>
      <div id="sidenavFooter">
          <div id="settingsDrawer">
              <input type="checkbox" id="tagsCheckbox">
              <label for="tagsCheckbox">Show Tags</label>
          </div>
          <i id="settingsButton" class="fas fa-cog" onclick="toggleSettingsDrawer()"></i>
          <a href="https://github.com/cerner/cucumber-forge-desktop" target="_blank" rel="noopener" class="sidenav-header">Cucumber Forge</a>
      </div>
    </div>
    <div class="main">
      {{{featuresHtml}}}
    </div>
  </body>
  <script>
    {{{scripts}}}
  </script>
</html>
