<li>
    <button class="directory-button" title="{{title}}">
      <i class="far fa-folder"></i>{{title}}
    </button>
    <ul>
      {{{sidenavButtonsHtml}}}
      {{#each featureButtons}}
        <li>
          <button id="{{this.id}}" scroll-to-id="{{this.featureId}}" feature-wrapper-id="{{this.featureWrapperId}}" class="feature-button" title="{{this.title}}">
            <i class="fas fa-angle-right"></i> {{this.title}}
          </button>
          <ul>
            {{#each this.scenarioButtons}}
              <li>
                <button id="{{this.id}}" scroll-to-id="{{this.scenarioId}}" class="scenario-button{{#if @last}} last{{/if}}" title="{{this.title}}">
                  <span>- {{this.title}}</span>
                </button>
              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </li>
  